---
permalink: "/hiring/"
---

{% include header.html %}				

		
				<article id="main" class="special margintop10">

					<header>
						<h2><a href="">Open positions</a></h2>
						<p>
							Work with us in a diverse and multidisciplinary enviroment of Oslo Science Park. <br>Our lab is located in the vibrant city of Oslo surrounded by beautiful natural landscapes.
						</p>
					</header>				
				</article>	
		
					
				<video autoplay muted loop id="myVideo">
				  <source src="{{site.url}}/images/oslo_timelapse_shorter.mp4" type="video/mp4">
				</video>
				<p class='vidcaption'>Timelapse of Oslo by <a href="https://www.youtube.com/c/TorjanHaaland" target="_blank">Trojan Haaland</a><p>

			
				<!-- <div class="wrapper style1"> -->
				<div class="container_custom1">	
					<section  class="padding_custom10">
						<header class="special vidcaption">
							<h3>Senior researcher position in Molecular and Systems Neurosciences</h3>
						</header>	
						<p>
							Boccara group is recruiting a researcher (position code SKO 1109) to join a well-funded, active group working at the intersection of sleep, memory, and neurodevelopment. 
							The position combines 30% dedicated for independent research with a 70% scientific leadership role supported by an existing team that includes 
							a laboratory technician, laboratory manager, and dedicated data analyst. 
							The position is funded through the ERC project SleepCog and associated grants, with an appointment of two years. 
							Start date is January 2027 or by agreement.

							<br><br>
							Application deadline: 15 Aug 2026.
							<br><br>
							More information <a href="https://www.jobbnorge.no/en/available-jobs/job/304161/researcher-in-systems-neuroscience-and-sleep" target="_blank"> RESEARCHER IN SYSTEMS NEUROSCIENCE AND SLEEP (304161) | University of Oslo</a>.
							<br><br>
							<img src="{{site.url}}/images/news/qr_code_hiring.png" alt="Senior researcher position in Molecular and Systems Neurosciences" width="20%">
						</p>
					
					</section>


					<section  class="padding_custom10">
						<header class="special vidcaption">
							<h3>Spontaneous Inquiries</h3>
						</header>
						<p>
							 We are always welcoming enthusiastic and talented individuals to reach out if they are interested in joining our team. Whether you are a master student, a PhD or a postdoctoral researcher. 
							 We may also have openings for research assistants and engineers.  There are several schemes to apply for external and internal fundings.
							 <br>Please contact Dr. Charlotte Boccara <a href="mailto:charlotte.boccara@ncmm.uio.no">charlotte.boccara@ncmm.uio.no</a> with your spontaneous inquiries for job openings at all levels.

						</p>
						
					</section>					
 
				</div>


			<div class="grayline"></div>


{% include footer.html %}
