---
permalink: "/hiring/"
---

{% include header.html %}				

		
				<article id="main" class="special margintop10">

					<header>
						<h2><a href="">We are hiring!</a></h2>
						<p>
							Work with us in a diverse and multidisciplinary enviroment of Oslo Science Park. <br>Our lab is located in the vibrant city of Oslo surrounded by beautiful natural landscapes.
						</p>
					</header>				
				</article>	
		
					
				<video autoplay muted loop id="myVideo">
				  <source src="{{site.url}}/images/oslo_timelapse_shorter.mp4" type="video/mp4">
				</video>
				<p class='vidcaption'>Timelapse of Oslo by <a href="https://www.youtube.com/c/TorjanHaaland" target="_blank">Trojan Haaland</a><p>

			
				<!-- <div class="wrapper style1"> -->
				<div class="container_custom1">	

					<article>
		
						<header class="special vidcaption">
							<p>
							Learn more about the open positions in our lab
							</p>
						</header>	
					</article>	

					<section  class="padding_custom10">
						<header>
							<h3> 1.	Postdoctoral/Researcher position in Molecular and Systems Neurosciences through the NORPOD program</h3>
						</header>
						<p>
							Boccara group is recruiting a highly motivated postdoctoral candidate for a 3-year NORPOD Postdoctoral Fellowship to study how sleep deficiencies may impact neural development and transcriptomics in rodent models.  
							NORPOD is a collaborative postdoctoral program of the Nordic EMBL Partnership in Molecular Medicine. 
							The NORPOD Fellow will be hired at the University of Oslo and join a collaboration at the Nordic EMBL Partnership institutes: <a href="https://www.med.uio.no/ncmbm/english/groups/boccaragroup/" target="_blank">Charlotte Boccara's group</a></li> at NCMBM (University of Oslo, Norway) 
							and <a href="https://dandrite.au.dk/people/research-groups/kim-group" target="_blank">Thomas Kim's group</a></li> at DANDRITE (Aarhus University, Denmark).
							<br><br>
							The candidate must have a strong background in neurosciences and wet-lab experience in (i) systems neuroscience (with a focus on electrophysiology and sleep) and (ii) in spatial transcriptomics and high-resolution imaging. 
							<br><br>
							Application deadline: 15 Aug, 2025.
							<br><br>
							More information <a href="https://www.jobbnorge.no/en/available-jobs/job/282173/postdoctoral-researcher-position-in-molecular-and-systems-neuroscience-through-the-norpod-program" target="_blank">here</a>
							
						</p>
						
					</section>

					<section  class="padding_custom10">
						<header>
							<h3> 2.	Group leader at NCMBM:</h3>
						</header>
						<p>
							Norwegian Centre for Molecular Biosciences and Medicine <a href="https://www.med.uio.no/ncmbm/english/" target="_blank">(NCMBM)</a> seeks 1–2 early career Group Leaders on nine-year EMBL-style appointments. 
							NCMBM is the Norwegian node of the Nordic EMBL Partnership for Molecular Medicine, alongside MIMS in Sweden, FIMM in Finland and DANDRITE in Denmark, bridging fundamental research and clinical innovation. 
							<br>
							We welcome early- career scientists - typically ≤ 7 years post PhD -  whose independent research program will complement and extend our two main research areas: 
							<ol>
								<li><b>Molecular and cellular basis of disease and therapy</b> – human genetics and precision medicine, with emphasis on cancer, immunity and neurology</li>
								<li><b>Computational biology, functional genomics and systems biology</b> – bridging genotype to phenotype</li>
							</ol>
							Application deadline: 8 Sep, 2025. 
							<br><br>
							More information <a href="https://www.jobbnorge.no/en/available-jobs/job/282908/group-leader" target="_blank">here</a>
							
						</p>
						
					</section>
					
					
					<section  class="padding_custom10">
						<header>
							<h3>Spontaneous Inquiries</h3>
						</header>
						<p>
							 We are always welcoming enthusiastic and talented individuals to reach out if they are interested in joining our team. Whether you are a master student, a PhD or a postdoctoral researcher. 
							 We may also have openings for research assistants and engineers.  There are several schemes to apply for external and internal fundings.
							 <br>Please contact Dr. Charlotte Boccara <a href="mailto:charlotte.boccara@ncmm.uio.no">charlotte.boccara@ncmm.uio.no</a> with your spontaneous inquiries for job openings at all levels.

						</p>
						
					</section>					
 
				</div>


			<div class="grayline"></div>


{% include footer.html %}
